.card-nota {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--fundo-detalhes);
  border-radius: 4px;
  flex-wrap: wrap;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  padding: 16px;
}
.card-nota_cabecalho {
  font-size: 1.1em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.card-nota_texto {
  margin-top: 8px;
  font-size: 1em;
}

.card-nota_titulo {
  font-size: 1.2em;
  margin-right: 12px;
}