.form-cadastro {
flex-grow: 2;
box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
z-index: 1;
min-height: 100vh;
display: flex;
flex-direction: column;
padding: 12px 40px;
}
.form-cadastro_input {
margin-top: 8px;
padding: 4px;
border: none;
background-color: var(--fundo-detalhes);
font-family: Arial, Helvetica, sans-serif;
font-weight: 100;
}

.form-cadastro_submit {
align-self: flex-end;
width: 30%;
background-color: var(--secundaria);
color: white;
font-weight: 400;
}

.form-cadastro_submit:active {
background-color: var(--secundaria-ativa);
}